.copy_right_footer {

    position: fixed;
    color: white;
    background-color: grey;
    bottom: 0;
    width: 100%;
    line-height: 3;
    text-align: center;

  }

  body {

    background-image: linear-gradient(to bottom right, red, yellow);
    

  }

  #mobile {

  border-radius: 90px;
 color: yellow;

  }

  #google {

  border-radius: 90px;
  color: blue;
  font-family: 'Bebas Neue', sans-serif;

  }